<a href="https://colab.research.google.com/github/zakia16/CS1336-Computer-Science-I/blob/main/Lectures/Variables_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Integer, Floating-Point, and String Data Types

Remember that expressions are just values combined with operators, and they always evaluate to a single value. A **[data type](https://docs.python.org/3/library/stdtypes.html)** is a category for values, and every value belongs to exactly one data type. The most common data types in Python are listed in Table 1-2. The values -2 and 30, for example, are said to be [integer](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex) values. The integer (or int) data type indicates values that are whole numbers. Numbers with a decimal point, such as 3.14, are called [floating-point numbers](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex) (or floats). Note that even though the value 42 is an integer, the value 42.0 would be a floating-point number. Programmers often use number to refer to ints and floats collectively, although number itself is not a Python data type.

One subtle detail about Python is that any math performed using an int and a float results in a float, not an int. While 3 + 4 evaluates to the integer 7, the expression 3 + 4.0 evaluates to the floating-point number 7.0. Any division between two integers with the / division operator results in a float as well. For example, 16 / 4 evaluates to 4.0 and not 4. Most of the time, this information doesn’t matter for your program, but knowing it will explain why your numbers may suddenly gain a decimal point.

![image.png]()

Python programs can also have text values called strings, or strs (pronounced “stirs”). Always surround your string in single-quote (') characters (as in 'Hello' or 'Goodbye cruel world!') so that Python knows where the string begins and ends. You can even have a string with no characters in it, '', called a blank string or an empty string. Strings are explained in greater detail in later Chapters.

# Python as a calculator

Python can deal with any arithmetic operators (+, -, *, /) and parentheses () just as a calculator.

In [ ]:
# Basic arithmetic operations
print(10 + 5)   # Addition
print(10 - 5)   # Subtraction
print(10 * 5)   # Multiplication
print(10 / 5)   # Division

# Using parentheses to control order of operations
# remember PEMDAS?? (Parentheses, Exponents, Multiplication and Division, Addition and Subtraction)
print((10 + 5) * (2 - 3) / 4) # complex calculations

15
5
50
2.0
-3.75

Division (/) always returns a float. To get an integer, use the // operator and to calculate the remainder, use %.

In [ ]:
# Regular division (always returns a float)
print(10 / 3)  # 3.3333...

# Floor division (//) returns an integer by discarding the decimal part
print(10 // 3)  # 3

# Remainder (%) returns the remainder of the division
print(10 % 3)  # 1

3.3333333333333335
3
1

Use the ** operator to calculate powers.

In [ ]:
# ** to calculate power
print(2**4)

16

# Variables

Variables are containers to store data values. Variables can store a range of data types: a single value, list of values, tabular data (e.g., dataframe), strings/texts, etc.

In this particular lecture, we will discuss three main types:
1.	Numbers: Integer (Whole numbers) and Float (Decimal numbers)
2.	Text: String
3. True/False : Boolean


### Declaring variables and assigning a value
The equal sign (=) is used to assign a value to a variable. The value on the right of the equals sign is then added to the computer memory, given the variable name you declare.

Use the print function to display the variable.

In [ ]:
# declaring variables
name = "Stacy"
age = 25
height = 5.6
college_grad = True

print("Name:", name)
print("Age:", age)
print("Height", height)
print("College grad:", college_grad)

Name: Stacy
Age: 25
Height 5.6
College grad: True

You do not need to assign data types when declaring a variable. Python can do that automatically. You can use the type() function to confirm the variable types.

In [ ]:
type(name), type(age), type(height), type(college_grad)

(str, int, float, bool)

The variable name can not be multiple words. If you need to use multiple words to better convey the variable's meaning, use underscores in between words.

In [ ]:
# declaring variables
name = "Stacy"
age = 25
height = 5.6
college_grad = True
birth_year = 2000

print("Name:", name)
print("Age:", age)
print("Height", height)
print("College grad:", college_grad)
print("Birth year:",birth_year)

Name: Stacy
Age: 25
Height 5.6
College grad: True
Birth year: 2000

### Arithmetic operations with variable
You can perform any arithmetic operations mentioned above, by directly calling the variable names. For instance, you can calculate Stacy’s age directly from her birth year.

In [ ]:
age = 2025 - birth_year
print("Age:", age)

Age: 25

### Updating variables
A variable value can be updated.

Say we want to calculate Stacy's total walking time in a week. On day 1, the variable total_walking_time is assigned a value of 20 minutes. On day 2, the variable value can be updated to reflect her total walking time up to that day. If this continues, on day 7, we will get her final total walking time for that week.

In [ ]:
total_walking_time = 20 # walking time on Day 1
print("Total walking time for Stacy on day 1 in the week", total_walking_time)

total_walking_time = total_walking_time + 25 # walking time on Day 2
print("Total walking time for Stacy on day 2 in the week", total_walking_time)

total_walking_time = total_walking_time + 10 # walking time on Day 3
print("Total walking time for Stacy on day 3 in the week", total_walking_time)

Total walking time for Stacy on day 1 in the week 20
Total walking time for Stacy on day 2 in the week 45
Total walking time for Stacy on day 3 in the week 55

### Declaring multiple variables
You can declare multiple variables in a single line of code. See the example below:

In [ ]:
latitude, longitude = 38.83, -77.31
print("The exploratory Hall is located at ", latitude, "° latitude", "and", longitude, "° longitude")

The exploratory Hall is located at  38.83 ° latitude and -77.31 ° longitude

# More details on strings

In Python (and other computer languages), a text/character-based piece of information is referred to as a 'string'.

Natural human language consists of characters and symbols. We need to be able to parse strings (e.g., read/process strings) to display them as natural human language.  This is very important for text manipulation, file modification, labelling of plots, requesting inputs from user,reporting errors etc.

Strings are enclosed in single or double quotes, ('...' or "..."). In the Python shell, the string definition and output string can look different. The print() function produces a more readable output.

### Printing a quote

Use one of the following two options to print a quote:
1. precede the quote with backward slash ( \ ) to escape it
2. use the other quotation marks for enclosing the string.

In [ ]:
print('I\'m taking GGS 366 in this semester') # preceding single quote with backslash to print the quote
print("I'm taking GGS 366 in this semester") # using double quote to signal python to print the single quote.

I'm taking GGS 366 in this semester
I'm taking GGS 366 in this semester

### Adding a new line
Use backward slash ( \n ) to add a new line.

In [ ]:
print("I'm taking GGS 366 in this semester. \nLooking forward to the next class!") #\n used before the second sentence

I'm taking GGS 366 in this semester.
Looking forward to the next class!

### Using raw strings for treating backslashes (\) as literal characters
Use raw strings by prefixing them with *r* before the opening quote. This treats backslashes (\) as literal characters instead of escape characters. This is especially useful when specifying file paths in data processing.

In [ ]:
print("file path:", r"user\local\file.csv") # the r before the double quote refers to the raw string

file path: user\local\file.csv

### Concatenating strings
Concatenate (put together) strings with the plus ( + ) operator.

Remember, we already declared latitude and longtitude variables earlier. To display them as a geographic coordinate, we typically print them together.

Also, note the use of the str() function here. I'm using it to convert the latitude and longitude variables, which are initially assigned as floats, into string data types before concatenating them.

In [ ]:
latitude = str(latitude)
longitude = str(longitude)
print("(" + latitude + "," + longitude + ")")

(38.83,-77.31)

You can also repeat the strings with asterisk (*) operator.

In [ ]:
print("Cool! " * 3)

Cool! Cool! Cool!

![Image Description](https://media.tenor.com/tSLM3YmMzaYAAAAd/cool-cool-cool-no-doubt.gif)

While concatenating is one way to add a variable value into a string, there are other options.

**F-strings (formatted string literals)**

Prefix the string with *f* before the opening quote, and then insert the variable names within curly braces inside the string.

In [ ]:
print(f"The exploratory Hall is located at {latitude}° latitude and {longitude}° longitude")

The exploratory Hall is located at 38.83° latitude and -77.31° longitude

**% Formatting**

Use placeholders (e.g., %s for strings, %d for integers, %f for floats) within the string, and then, after the closing quote and %, include the corresponding variable names within parentheses.

In [ ]:
print("The exploratory Hall is located at %f° latitude and %f° longitude" % (latitude, longitude)) # printing variables as float types

The exploratory Hall is located at 38.830000° latitude and -77.310000° longitude

In [ ]:
print("The exploratory Hall is located at %s° latitude and %s° longitude" % (latitude, longitude)) # printing variables as string types

The exploratory Hall is located at 38.83° latitude and -77.31° longitude